[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "*"
dj-static = "*"
dj-database-url = "*"
gunicorn
psycopg2 = "2.7.3"

[dev-packages]

[requires]
python_version = "3.6"
